/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ----------------------------------------
// | cycle start | Singleblock |  Rewind  |
// | Jog on/off  | spindle on  |  right   |
// |     Stop    |     Stop    |  Stop    |
// |   X_layer   |    Y_layer  |  Z_layer |
// ----------------------------------------
            bindings = <
    &kp LA(R)     &kp LA(N) &kp LC(W)   &kp UP_ARROW
    &kp LC(LA(J)) &kp F5    &kp N6      &kp DOWN_ARROW
    &kp LA(S)     &kp LA(S) &kp LA(S)   &kp LEFT_ARROW
    &tog 1        &tog 2    &tog 3      &kp RIGHT_ARROW
    &none         &none     &none       &trans
            >;

            sensor-bindings = <&inc_dec_kp INS PG_UP>;
        };

         X_layer {
// --------------------------
// | BT_CLR |  HOME |  PGUP |
// | _      |  END  |  PGDN |
// | _      |  _    |  _    |
// | _      |  _    |  _    |
// --------------------------
             bindings = <
     &bt BT_CLR       &trans          &kp PG_UP &kp UP
     &out OUT_TOG     &out OUT_USB    &out OUT_BLE &kp DOWN
     &reset           &trans     &trans    &kp LEFT
     &bootloader     &trans   &trans       &kp RIGHT
     &trans     &trans   &trans            &kp INS
             >;

             sensor-bindings = <&inc_dec_kp A B>;
         };
        
         Y_layer {
// --------------------------
// | BT_CLR |  HOME |  PGUP |
// | _      |  END  |  PGDN |
// | _      |  _    |  _    |
// | _      |  _    |  _    |
// --------------------------
             bindings = <
     &bt BT_CLR       &trans          &kp PG_UP &kp UP
     &out OUT_TOG     &out OUT_USB    &out OUT_BLE &kp DOWN
     &reset           &trans     &trans    &kp LEFT
     &bootloader     &trans   &trans       &kp RIGHT
     &trans     &trans   &trans            &kp INS
             >;

             sensor-bindings = <&inc_dec_kp A B>;
         };
         
         Z_layer {
// --------------------------
// | BT_CLR |  HOME |  PGUP |
// | _      |  END  |  PGDN |
// | _      |  _    |  _    |
// | _      |  _    |  _    |
// --------------------------
             bindings = <
     &bt BT_CLR       &trans          &kp PG_UP &kp UP
     &out OUT_TOG     &out OUT_USB    &out OUT_BLE &kp DOWN
     &reset           &trans     &trans    &kp LEFT
     &bootloader     &trans   &trans       &kp RIGHT
     &trans     &trans   &trans            &kp INS
             >;

             sensor-bindings = <&inc_dec_kp A B>;
         };
    };
};
